#slide-2-1-4 + section + section + section div.org-src-container:first-child {
  position: relative;
}

#slide-2-1-4 + section + section + section div.org-src-container:nth-child(2) {
  position: absolute;
  width: 100%;
}

#slide-2-1-4 + section + section + section div.org-src-container:nth-child(3) {
  position: absolute;
  width: 100%;
}

#slide-2-1-4 + section + section + section div.org-src-container:nth-child(4) {
  position: absolute;
  width: 100%;
}

#slide-2-2-8 code {
  font-size: 0.98em;
}

#slide-2-4-1 + section + section div:first-child {
  position: relative;
}

#slide-2-4-1 + section + section div:nth-child(2) {
  position: absolute;
  width: 100%;
}

#slide-2-4-1 + section + section div:nth-child(3) {
  position: absolute;
  width: 100%;
}

#slide-2-4-1 div.org-src-container code {
  max-height: unset;
}

#slide-2-4-2 div.org-src-container code {
  max-height: unset;
}

#slide-2-4-3 + section div.org-src-container:first-child code {
  max-height: unset;
}

#slide-2-4-3 + section + section + section div.org-src-container:first-child code {
  max-height: unset;
}

#slide-2-4-3 + section + section + section + section div.org-src-container:first-child code {
  max-height: unset;
}

#slide-2-4-3 + section + section + section + section + section div.org-src-container:first-child code {
  max-height: unset;
}

#slide-3-1-2 h3 {
  position: relative;
}

#slide-3-1-2 div {
  position: absolute;
  width: 100%;
}

#slide-3-4 div.org-src-container code {
  max-height: unset;
}

#slide-4-1 + section code {
  max-height: unset;
}

#slide-4-1 + section + section code {
  white-space: pre-wrap;
  max-height: unset;
}

#slide-4-3-1 + section code {
  font-size: 0.96em;
  max-height: unset;
}

#slide-4-3-1 + section + section + section + section code {
  max-height: unset;
}

#slide-4-4-1 code {
  max-height: unset;
}

#slide-4-4-2 code {
  max-height: unset;
}

#slide-4-4-5 code {
  max-height: unset;
}

#slide-4-4-5 + section + section + section code {
  max-height: unset;
}

#slide-4-4-5 + section + section + section + section p {
  position: relative;
}

#slide-4-4-5 + section + section + section + section div {
  position: absolute;
  width: 100%;
}

#slide-4-4-5 + section + section + section + section code {
  max-height: unset;
}

#slide-4-4-6 code {
  max-height: unset;
}

#slide-4-5-1 code {
  max-height: unset;
}

#slide-4-5-1 div:nth-child(3) {
  position: relative;
}

#slide-4-5-1 div:nth-child(4) {
  position: absolute;
  width: 100%;
}

#slide-4-5-1 div:nth-child(5) {
  position: absolute;
  width: 100%;
}

#slide-4-5-1 + section p {
  position: relative;
}

#slide-4-5-1 + section div:nth-child(2) {
  position: absolute;
  width: 100%;

}

#slide-4-5-1 + section div:nth-child(3) {
  position: absolute;
  width: 100%;
}

#slide-4-5-1 + section + section + section code {
  font-size: 0.96em;
}

#slide-4-5-1 + section + section + section + section ul {
  font-size: 0.7em;
}

#slide-5 ol {
  font-size: 0.75em;
}
